<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.date | date }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="calories">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Calorías</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.calories | number }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Duración</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.duration | number }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.state }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSize]="1" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>

</mat-paginator>