<mat-nav-list>
    <a *ngIf="!isAuth" mat-list-item routerLink="/solicitud" (click)="onClose()">
        <i class="material-icons">flight</i>
        <span class="nav-caption">Reserva tu vuelo</span>
    </a>
    <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon class="mat-18">input</mat-icon>
        <span class="nav-caption">Iniciar sesión</span>
    </a>
    <a *ngIf="isAuth" mat-list-item routerLink="/flightrequest" (click)="onClose()">
        <mat-icon class="mat-18">fitness_center</mat-icon>
        <span class="nav-caption">Solicitudes</span>
    </a>
    <mat-list-item>
        <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
           <mat-icon>eject</mat-icon>
           <span class="nav-caption">Cerrar sesión</span>
        </button>
    </mat-list-item>
</mat-nav-list>
