<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
    <mat-cell *matCellDef="let flight">{{flight.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombresolicitante">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Persona solicitante</mat-header-cell>
    <mat-cell *matCellDef="let flight">{{flight.nombresolicitante}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="correoelectronico">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Correo eléctronico</mat-header-cell>
    <mat-cell *matCellDef="let flight">{{flight.correoelectronico}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="fechaviaje">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Viaje</mat-header-cell>
    <mat-cell *matCellDef="let flight">{{flight.fechaviaje}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="origen">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Lugar de origen</mat-header-cell>
    <mat-cell *matCellDef="let flight">{{flight.origen}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="destino">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Lugar de destino</mat-header-cell>
    <mat-cell *matCellDef="let flight">{{flight.destino}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
    <mat-cell *matCellDef="let flight">
      <mat-chip-list>
        <mat-chip color="primary" selected>{{ flight.state }}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
    <mat-cell *matCellDef="let flight">
      <div class="p-5 icon-box" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
        <a rel="tooltip" title="Aprovar solicitud de vuelo" style="cursor: pointer;" (click)="openDialog(flight.id, flight.nombresolicitante, flight.destino)">
            <mat-icon color="primary">send</mat-icon>
        </a>
      </div>
    </mat-cell>
   </ng-container>


<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [length]="length" [pageSize]="5"
                   [pageSizeOptions]="[10, 15, 20]" (page)="pageEvent = $event; onPaginateChange($event)"></mat-paginator>
