<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
      <h1>RESERVALO YA!</h1>
      <p>Más ofertas en La Habana, Cuba</p>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>La Habana, Cuba</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/havana-cuba.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            La Habana, capital de Cuba, es una ciudad llena de paradojas y contradicciones, cuyos principales atractivos son la belleza de su casco histórico, su excepcional arquitectura, la iconografía revolucionaria y cubana (desde El Malecón hasta la Plaza de la Revolución, pasando por La Giraldilla) y su amplia oferta cultural.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Me gusta</button>
          <button mat-button>Compartir</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <h1>RESERVALO YA!</h1>
      <p>Tu viaje a Lima comienza aquí</p>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Lima, Peru</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/eyeem-26050318-104644170.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Lima, la capital de Perú, se encuentra en la árida costa del Pacífico del país. Aunque se conserva su centro colonial, es una metrópolis bulliciosa y una de las ciudades más grandes de Sudamérica. Es el hogar de la colección de arte precolombino del Museo Larco y del Museo de la Nación, que traza la historia de las antiguas civilizaciones del Perú. La Plaza de Armas y la catedral del siglo XVI son el corazón del antiguo Centro de Lima.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Me gusta</button>
          <button mat-button>Compartir</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <h1>RESERVALO YA!</h1>
      <p>Tu viaje a París comienza aquí</p>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>La Habana, Cuba</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/buenos-aires-20.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            París, la capital de Francia, es una importante ciudad europea y un centro mundial de arte, moda, gastronomía y cultura. Su paisaje urbano del siglo XIX está entrecruzado por amplios bulevares y el río Sena. Más allá de lugares tan emblemáticos como la Torre Eiffel y la catedral gótica de Notre-Dame, del siglo XII.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Me gusta</button>
          <button mat-button>Compartir</button>
        </mat-card-actions>
      </mat-card>
    </section>
</div>
